<div class="col col-xs-12 col-sm-6 col-sm-offset-3">
  <%= simple_form_for (@cocktail) do |f| %>
    <%= f.input :name, placeholder: "Name of Cocktail" %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <div>
      <%= f.submit "Nice Drink", class: "btn-form" %>
    </div>
  <% end %>
</div>