<div class="show-page">
  <div class="left-box">
    <div class="cocktail-image" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= @cocktail.photo? ? (cl_image_path @cocktail.photo, crop: :fill) : (image_path '1.jpg'); %>');">
    </div>
  </div>
  <div class="right-box">
    <div class="text-right">
      <%= link_to "HOME", :root, class: "home-btn"%>
    </div>
    <div class="cocktail-content">
      <h1 class="cocktail-name"><%= @cocktail.name %></h1>
      <div class="show-actions">
        <ul class="list-inline">
          <li><%= link_to "ADD INGREDIENT", new_cocktail_dose_path(@cocktail), class: "show-btn" %></li>
          <li><%= link_to "EDIT", edit_cocktail_path(@cocktail), class: "show-btn" %></li>
          <li><%= link_to "DELETE", cocktail_path, method: :delete, data: { confirm: "You don't like #{@cocktail.name}?" }, class: "show-btn" %></li>
        </ul>
      </div>
      <div class="show-ingredients">
        <h3>Ingredients</h3>
        <table>
          <tbody>
            <% @cocktail.doses.each do |dose| %>
              <tr>
                <td><%= dose.ingredient.name %></td>
                <td>| <%= dose.description %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <ul class="ingredients-list">
        </ul>
      </div>
    </div>
  </div>
</div>